<html>
  <head>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <h1><%=@player1.name%> VS. <%=@player2.name%></h1>    
    <p>
      <%=@player1.name%> Health: <%=@player1.health%>
      <%=@player2.name%> Health: <%=@player2.health%>
      <br>
      <a href="/attack">Attack!</a>
    </p>

  </body>
</html>