<html>
  <head>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <h1><%=@game.player1.name%> VS. <%=@game.player2.name%></h1>    
    <p>
      <%=@game.player1.name%> Health: <%=@game.player1.health%>
      <%=@game.player2.name%> Health: <%=@game.player2.health%>
      <br>
      <a href="/attack">Attack!</a>
    </p>

  </body>
</html>